.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Javascript Libraries ###
src/main/resources/static/js/three.min.js
src/main/resources/static/js/VRControls.js
src/main/resources/static/js/VREffect.js
src/main/resources/static/js/webvr-polyfill.js
src/main/resources/static/js/webvr-manager.js
src/main/resources/static/js/MTLLoader.js
src/main/resources/static/js/OBJLoader.js