<!DOCTYPE html>
<html lang="jp">
    <head>
        <meta charset="UTF-8" />
        <title>MainPage</title>
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no"/>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <link rel='stylesheet' type="text/css" href="css/mainpage.css" />
    </head>
    <body>
        <script src='js/three.min.js'></script>
        <script src='js/VRControls.js'></script>
        <script src="js/VREffect.js"></script>
        <script src="js/webvr-polyfill.js"></script>
        <script src="js/webvr-manager.js"></script>
        <script src="js/MTLLoader.js"></script>
        <script src="js/OBJLoader.js"></script>
        <script src="js/mainpage.js"></script>
    </body>
</html>